{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	{% block title %}{% endblock %}
	<link rel="stylesheet" type = "text/css" href="{% static 'lendingapp/css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" type = "text/css" href="{% static 'lendingapp/css/custom.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">Lending</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'client' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'client' %}">View</a>
              <a class="dropdown-item" href="{% url 'client' %}">Add</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'ledger' %}" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ledger</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{% url 'ledger' %}">View</a>
              <a class="dropdown-item" href="{% url 'ledger' %}">Add</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
	</nav>

	<div class="container">
		<div class="starter-template">
			{% block content %}{% endblock %}
		</div>
	</div><!-- /.container -->
	<script src="{% static 'lendingapp/js/jquery-3.2.1.slim.min.js' %}"></script>
	<script src="{% static 'lendingapp/js/popper.min.js' %}"></script>	
	<script src="{% static 'lendingapp/js/bootstrap.min.js' %}"></script>
</body>
</html>