{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	{% block title %}{% endblock %}
  <link rel="stylesheet" type = "text/css" href="{% static 'lendingapp/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" type = "text/css" href="{% static 'lendingapp/css/custom.css' %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">Lending</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clients</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'client' %}">View</a>
              <a class="dropdown-item" href="{% url 'client_add' %}">Add</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ledger</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{% url 'ledger_add' %}">Add</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="#">Welcome {{user.username}}</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
          </ul>
      </div>
	</nav>
 	<div class="container">
		<div class="starter-template">
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                  {{ message }}
                </div>
              {% endfor %}
          {% endif %}
      	{% block content %}{% endblock %}
		</div>
	</div><!-- /.container -->

	<script src="{% static 'lendingapp/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'lendingapp/js/tether.min.js' %}"></script>
	<script src="{% static 'lendingapp/js/popper.min.js' %}"></script>	
	<script src="{% static 'lendingapp/js/bootstrap.min.js' %}"></script>
  {% block javascript %}
  {% endblock %}
</body>
</html>