{% extends "lendingapp/base.html" %}
{% load extras %}
{% load static %}
{% block title %}
	<title>Clients</title>
{% endblock %}
{% block javascript %}
	 <script src="{% static 'lendingapp/js/client.js' %}"></script>
{% endblock %}
{% block content %}
<h2>Clients</h2>
	<form class="form-inline" action="" method="POST">
		{% csrf_token %}
		<input type="text" id="name" class="form-control" placeholder="Name" name="{{form.name.name}}" value="{{ form.name.value|default:"" }}" required autofocus><br>
		<input class="form-control btn btn-primary btn-md ml-2" type="submit" value="Search" name="search">
		<input class="form-control btn btn-primary btn-md ml-2" type="submit" value="Clear" name="clear">
	</form>
<p align="left">
    <button type="button" class="btn btn-primary js-add-client" data-url="{% url 'client_add' %}">New Client</button>
</p>
{% include "lendingapp/client_list.html" %}
	<div class="modal fade" id="modal-client">
		<div class="modal-dialog">
      		<div class="modal-content"></div>
    	</div>
    </div>
{% endblock %}