{% extends "lendingapp/base.html" %}
{% load extras %}
{% block title %}
	<title>Clients</title>
{% endblock %}
{% block content %}
<h2>Clients</h2>
	<div class="row">
		<div class="col-md">
			<form class="form-inline" action="" method="POST">
				{% csrf_token %}
				{{ form.name }}
				<input class="form-control btn btn-primary btn-sm" type="submit" value="Search">
			</form>
		</div>
	</div>
	<table class="table table-responsive table-striped table-bordered table-sm">
		<thead>
			<tr>
				<th>ID</th>
				<th>NAME</th>
				<th>ADDRESS</th>
				<th>MOBILE</th>
				<th>REMARKS</th>
				<th>CREDITS</th>
				<th>PAYMENTS</th>
				<th>BALANCE</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr>
					<td>{{ client.id }}</td>
					<td>{{ client.name }}</a></td>
					<td>{{ client.address }}</td>
					<td>{{ client.mobile }}</td>
					<td>{{ client.remarks  }}</td>
					<td><a href="{% url 'credit' client.id  %}">{{ client.credits|default:"" }}</a></td>
					<td><a href="{% url 'payment' client.id  %}">{{ client.payments|default:"" }}</a></td>
					<td>{{ client.credits|sub:client.payments|default:"" }}</td>
					<td>
						<a href="{% url 'credit_add' client.id %}">Add Credit</a> ,
						<a href="{% url 'client_edit' client.id  %}">Edit</a> ,
						<a href="{% url 'client_del' client.id  %}">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "lendingapp/pagination_snippet.html" with model=clients page=page %}
{% endblock %}