{% extends "lendingapp/base.html" %}
{% load extras %}
{% block title %}
	<title>Credits</title>
{% endblock %}
{% block content %}
<h2>Credits for {{ client }}</h2>
	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<th scope="col">AMOUNT</th>
				<th scope="col">INTEREST</th>
				<th scope="col">DATE</th>
				<th scope="col">PAYMENT</th>
				<th scope="col">BALANCE</th>
				<th scope="col">REMARKS</th>
				<th scope="col">ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for credit in credits %}
				<tr>
					<th scope="row">{{ credit.amount }}</th>
					<td>{{ credit.interest|percent }}</td>
					<td>{{ credit.dt }}</td>
					<td>{{ credit.payments|default:"" }}</td>
					<td>{{ credit.amount|sub:credit.payments|default:"" }}</td>
					<td>{{ credit.remarks }}</td>
					<td>
						<a href="{% url 'payment_add' credit.id %}">Add Payment</a> ,
						<a href="{% url 'credit_edit' credit.id %}">Edit</a> ,
						<a href="{% url 'credit_del' credit.id %}">Delete</a>
					</td>
				</tr>			
			{% endfor %}
		</tbody>
	</table>
	{% include "lendingapp/pagination_snippet.html" with model=credits page=page %}
{% endblock %}