{% extends "lendingapp/base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block content %}
<h2>Summary</h2>
	<table class="table table-responsive table-striped table-bordered table-sm">
		<thead>
			<tr>
				<th>AMOUNT</th>
				<th>DATE</th>
				<th>CATEGORY</th>
				<th>REMARKS</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for summ in summary %}
				<tr>
					<td>{{ summ.amount|add:summ.interest }}</td>
					<td>{{ summ.dt }}</td>
					<td>{{ summ.category }}</td>
					<td>{{ summ.remarks}}</td>
					<td>
						{% if summ.category != 'Payment' %}
							{%  if summ.category != 'Credit'%}
								<a href="{% url 'ledger_edit' summ.id %}">Edit</a> , 
								<a href="{% url 'ledger_del' summ.id %}">Delete</a><br>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "lendingapp/pagination_snippet.html" with model=summary page=page %}
{% endblock %}