{% extends "lendingapp/base.html" %}
{% block title %}<title>Index</title>{% endblock %}
{% block content %}
<h2>Ledger</h2>
	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<th scope="col">AMOUNT</th>
				<th scope="col">DATE</th>
				<th scope="col">CATEGORY</th>
				<th scope="col">REMARKS</th>
				<th scope="col">ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for summ in summary %}
				<tr>
					<th scope="row">{{ summ.amount }}</th>
					<td>{{ summ.dt }}</td>
					<td>{{ summ.category }}</td>
					<td>{{ summ.remarks}}</td>
					<td>
						{% if summ.category != 'Payment' %}
							{%  if summ.category != 'Credit'%}
								<a href="{% url 'ledger_edit' summ.id %}">Edit</a> , 
								<a href="{% url 'ledger_del' summ.id %}">Delete</a><br>
							{% endif %}
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "lendingapp/pagination_snippet.html" with model=summary page=page %}
	<h2>Summary</h2>
	<div class="row">
		<div class="col-md-4">
			<table class="table table-responsive table-hover">
				<thead>
					<tr>
						<th scope="col">CATEGORY</th>
						<th scope="col">AMOUNT</th>
					</tr>
				</thead>
				<tbody>
					{% for total in totals %}
						<tr>
							{% for k,v in total.items %}
								<th scope="row">{{ k }}</th>
								<td>{{ v|default:0.0 }}</td>
							{% endfor %}
						</tr>
					{% endfor %}
						<tr>
							<th scope="row">CASH ON HAND</td>
							<td>{{ cash }}</td>
						</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}