{% extends "lendingapp/base.html" %}
{% load extras %}
{% block title %}
	<title>Ledger</title>
{% endblock %}	
{% block content %}
<h2>Ledger</h2>
	<table class="table table-responsive table-striped table-bordered table-sm">
		<thead>
			<tr>
				<th>AMOUNT</th>
				<th>DATE</th>
				<th>CATEGORY</th>
				<th>BANK</th>
				<th>REMARKS</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for ledger in ledgers %}
				<tr>
					<td>{{ ledger.amount }}</td>
					<td>{{ ledger.dt }}</td>
					<td>{{ ledger.category }}</td>
					<td>{{ ledger.bank }}</td>
					<td>{{ ledger.remarks }}</td>
					<td>
						{% if not ledger.credit_id and not ledger.payment_id %}
							<a href="{% url 'ledger_edit' ledger.id %}">Edit</a><br>
							<a href="{% url 'ledger_del' ledger.id %}">Delete</a><br>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "lendingapp/pagination_snippet.html" with model=ledgers page=page %}
{% endblock %}