{% extends "lendingapp/base.html" %}
{% block title %}
	<title>Ledger</title>
{% endblock %}	
{% block content %}
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>AMOUNT</th>
				<th>DATE</th>
				<th>CATEGORY</th>
				<th>BANK</th>
				<th>REMARKS</th>
			</tr>
		</thead>
		<tbody>
			{% for ledger in ledgers %}
				<tr>
					<td>{{ ledger.amount }}</td>
					<td>{{ ledger.dt }}</td>
					<td>{{ ledger.category }}</td>
					<td>{{ ledger.bank }}</td>
					<td>{{ ledger.remarks }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}