{% extends "lendingapp/base.html" %}
{% load extras %}
{% block title %}
	<title>Payments</title>
{% endblock %}
{% block content %}
<h2>Payments for {{ client.name}}</h2>
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>AMOUNT</th>
				<th>INTEREST</th>
				<th>DATE</th>
				<th>REMARKS</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
				<tr>
					<td>{{ payment.amount }}</td>
					<td>{{ payment.interest }}</td>
					<td>{{ payment.dt }}</td>
					<td>{{ payment.remarks }}</td>
					<td>
						<a href="{% url 'payment_edit' payment.id %}">Edit</a><br>
						<a href="{% url 'payment_del' payment.id %}">Delete</a><br>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<nav aria-label="Page navigation example">
	  <ul class="pagination">
	  	{% if payments.has_previous %}
	    	<li class="page-item"><a class="page-link" href="?page={{ payments.previous_page_number }}">Previous</a></li>
	    {% endif %}
	    {% for i in payments.paginator.num_pages|_range %}
	    	 <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
	    {% endfor %}
	    {% if payments.has_next %}
	    	<li class="page-item"><a class="page-link" href="?page={{ payments.next_page_number }}">Next</a></li>
	    {% endif %}
	  </ul>
	</nav>
{% endblock %}