{% extends "lendingapp/base.html" %}
{% load extras %}
{% block title %}
	<title>Payments</title>
{% endblock %}
{% block content %}
<h2>Payments for {{ client }}</h2>
	<table class="table table-responsive table-striped table-bordered table-sm">
		<thead>
			<tr>
				<th>AMOUNT</th>
				<th>INTEREST</th>
				<th>DATE</th>
				<th>REMARKS</th>
				<th>ACTIONS</th>
			</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
				<tr>
					<td>{{ payment.amount }}</td>
					<td>{{ payment.interest }}</td>
					<td>{{ payment.dt }}</td>
					<td>{{ payment.remarks }}</td>
					<td>
						<a href="{% url 'payment_edit' payment.id %}">Edit</a> ,
						<a href="{% url 'payment_del' payment.id %}">Delete</a> ,
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include "lendingapp/pagination_snippet.html" with model=payments page=page %}
{% endblock %}